<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:8001/url/<%= id %></p>
     
    <% } %>
    <div>
        <form action="/user/login" method="post">
            <label>Email</label>
            <input type="text" name="email" required placeholder="https://example.com">
            <label>Password</label>
            <input type="text" name="password" required>
            
            <button type="submit">Login</button>
        </form>

        
    </div>
</body>
</html>